
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
@import url('header/header.scss');
@import url('main/main-home.scss');
@import url('footer/footer.scss');
@import url('main/main-comics.scss');
