header {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav ul li {
  height: 100%;
  padding: 20px 0;
}

nav ul li:hover {
  border-bottom: 1px solid blue;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: blue;
}

main {
  background-color: #1C1C1C;
}

.title_home {
  height: 50vh;
  text-align: center;
  width: 70%;
  margin: auto;
}

.footer {
  background-image: url('../images/footer-bg.jpg');
  color: white;
  position: relative;
  overflow: hidden;
}

.cont_footer {
  width: 70%;
  margin: auto;
  padding: 30px 0;
}

.menu {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.menu>div ul {
  list-style: none;
}

.menu>div ul li:nth-child(1) {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}

.footer_img_grande {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-30%);
}

.footer_social {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.comics_cont {
  padding: 40px 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.jumbo_cont {
  height: 300px;
  width: 100%;
  background-image: url('../images/jumbotron.jpg');
}

.card {
  color: white;
}

.link_comic {
  width: calc(100% / 6);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}